<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>title</title>
  <script ></script>
  <script src="app.js"></script>
  <link rel= "stylesheet" type="text/css" href="app.css">
</head>
<body>
<div id="body">
  <table style="width=801px; height=1000px;" border="0" align="center" cellpadding="0" cellspacing="0" id="Table_01">
    <tr>
    <h1 class="title" id="font"> Hafeez Piracha</h1>
      <td colspan="7"><div class="style1" id="top"><a href="http://www.zonnebank-studio-vergelijk.nl">Zonnestudio en zonnebank</a></div></td>
	    <td>
		    <img src="images/spacer.gif" width="1" height="106" alt="" /></td>
	  </tr>
    <tr>
      <td colspan="3">
      <!--  <img src="images/index_02.jpg" width="209" height="52" alt="" /></td>-->
	    <td colspan="3" rowspan="3"><div id="content_1"><div class="title">WELCOME TO my<br />
	    EXCLUSIVE PORTFOLIO SITE</div>
            <div class="content"> <p>
            my name is Hafeezullah Piracha and currently I am a junior at Lehman College of The City University Of New York. I am majoring in Computer Information Systems and currently have GPA of 3.62. I was initially a student at Iona College and then transfered after my first year. I have experience with coding language, I am proficient in Java, Python, HTML,CSS and am currently working on Javascript. Ii am currently looking for an internship or a job in the tech industry so that I can further polish my skills and being my career in the tech industry</p>             </div>
            </div></td>
	    <td rowspan="7">
		  <img src="images/index_04.jpg" width="34" height="894" alt="" /></td>
	    <td>
		   <!-- <img src="images/spacer.gif" width="1" height="52" alt="" /></td>-->
	  </tr>
    <tr>
      <td rowspan="6">
       <!-- <img src="images/index_05.jpg" width="14" height="842" alt="" /></td>-->
	    <td><div id="logo"><div class="logo"><a href="index.html">Menu</a></div>
	    </div></td>
	    <td rowspan="6">
		  <!--  <img src="images/index_07.jpg" width="11" height="842" alt="" /></td>-->
	    <td>
		    <img src="images/spacer.gif" width="1" height="55" alt="" /></td>
	  </tr>
    <tr>
      <td rowspan="3"><div class="menu">
      <ul>
      <li><a href="myblog.ejs">My blog</a></li>
      
      <li><a href="index.html"> My WORKS</a></li>
      
      </div></td>
	    <td>
		    <img src="images/spacer.gif" width="1" height="281" alt="" /></td>
	  </tr>
    <tr>
      <td colspan="3">
        <img src="images/index_09.jpg" width="557" height="15" alt="" /></td>
	    <td>
		    <img src="images/spacer.gif" width="1" height="15" alt="" /></td>
	  </tr>
    <tr>
      <td colspan="3"><div id="content_2">
      <p class="title"><li><strong>HIGH SCHOOL</strong>//August 2010-June 2014<br>St.Micheals Convent School<br> In my four years of high School I studied business, accounting, Economic and other subjects. I did my high School from Pakistan in the British Cambridge System. </li>
         </p>
      <div class="title"></div>
            <div class="content">              </div>
      </div></td>
	    <td>
		    <img src="images/spacer.gif" width="1" height="388" alt="" /></td>
	  </tr>
    <tr>
      <td rowspan="2">
      <!--  <img src="images/index_11.jpg" width="184" height="103" alt="" /></td>-->
	    <td colspan="3">
		    <img src="images/index_12.jpg" width="557" height="83" alt="" /></td>
	    <td>
		    <img src="images/spacer.gif" width="1" height="83" alt="" /></td>
	  </tr>
    <tr>
      <td>
        <img src="images/index_13.jpg" width="1" height="20" alt="" /></td>
	    <td><div id="footer">
	      <div align="center" class="footer">COPYRIGHT (C) 2017 &quot;hafeez piracha&quot;. DESIGN BY <a href="http://www.zonnebank-studio-vergelijk.nl">hafeez piracha</a></div>
	    </div></td>
	    <td>
		  <!--  <img src="images/index_15.jpg" width="119" height="20" alt="" /></td>
	    <td>-->
		  <!--  <img src="images/spacer.gif" width="1" height="20" alt="" /></td>-->
	  </tr>
  </table>
</div>
<!-- End Save for Web Slices -->
</body>
</html>